<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <script src="main.js"></script>
    <style>
    

    </style>
</head>
<body>
    <nav style="margin-top:8px; "class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CMS</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->

        </div>
      </nav>

      <div class="container-fluid">

        <div class="row">
          <div class="col-md-3">
              {% block content %}{% endblock %}
          </div>

          <div class="col-mod-6">
            {% block profile %}{% endblock %}
          </div>
        </div>>
      </div>
</body>
</html>
