{% extends "base.html" %}


{% block content %}

    <div class="btn-group-lg btn-group-vertical" style="margin-left: 15px;margin-top:30px">
            <a href="{{ url_for('teacher_profile') }}" class="btn btn-primary btn-lg">Profile</a><br/><br/>
            <a href="{{ url_for('updatemarks')}}" class="btn btn-primary btn-lg">Update Marks</a>><br/><br/>
           <a href="{{ url_for('updateattendance') }}" class="btn btn-primary btn-lg">Update Attendance</a><br/><br/>
           <a href="{{ url_for('StudentInfo') }}" class="btn btn-primary btn-lg">Search Student</a><br/><br/>
           <a href="{{ url_for('teacherLogout')}}" class="btn btn-primary btn-lg">Logout</a><br/>
    </div>

{% endblock %}

{% block profile %}
<div class="content-section">
        <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Name : {{ teacher_info[2] }}</h2>
            <p class="text-secondary">{{ teacher_info[4] }}</p>
        </div>
        <div><br><br>
            <table class="table">

                    <tr>
                            <th><h4 style="text-align:center">User Details</h4></th>
                    </tr>
                    <tr>
                            <td><br/><label>ENUM : {{ teacher_info[1] }}<label></td>
                    </tr>
                    <tr>
                            <td><br/><label>Email : {{ teacher_info[5] }}</label></td>
                    </tr>
                    <tr>
                            <td><br/><label>Phone Number : {{ teacher_info[3] }}</label></td>
                    </tr>
                    <tr>
                            <td><br/><label>Department : {{ teacher_info[4] }}</label></td>
                    </tr>
                    <tr>
                            <td><br/><label>Gender : {{ teacher_info[7] }}</label></td>
                    </tr>
                    <tr>
                            <td><br/><label>Salary : {{ teacher_info[8] }} /-</label></td>
                    </tr>
            </table>
        </div>
</div>
{% endblock %}
